{{define "title"}} Welcome to Go-Wiki {{end}} {{define "content"}}

<div class="section">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Go-Wiki</h1>
    <p class="lead">
      Golang powered Wiki web application
    </p>
    <hr class="my-4" />
    <p>
      Look at our documentation to discover how to contribute !
    </p>
    <a class="btn btn-primary btn-lg" href="/view/Doc" role="button"
      >Documentation</a
    >
  </div>
  <div>
    <h2>Index</h2>
    <p>Some description</p>
    <ul>
      {{ range $index, $entry := .Wikis }}
      <li>
        {{ $index }}: <a href="/view/{{ $entry.Title }}">{{ $entry.Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{end}}
