{{define "title"}} Welcome to Go-Wiki {{end}} {{define "content"}}

<div class="section">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Go-Wiki</h1>
    <p class="lead">
      Golang powered Wiki web application
    </p>
    <hr class="my-4" />
    <p>
      Start contributing now or take a look at our documentation to discover how
      to!
    </p>
    <a class="btn btn-primary btn-lg" href="/index" role="button">Start</a>
    <a class="btn btn-outline-primary btn-lg" href="/view/Doc" role="button"
      >Documentation</a
    >
  </div>
</div>
{{end}}
